body {
  margin: 0;
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
}

p {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.list {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

img {
  display: block;
}

p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.footer .tittle {
  width: 231px;
  color: #ffffff;
  font-style: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover, .footer-link:focus {
  background: #2196f3;
  outline: none;
}

.footer-icons {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.address-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.address-list .link {
  width: 231px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}

.mail {
  margin-bottom: 9px;
}

.reference {
  margin-right: 93px;
}

.reference-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.box {
  margin-right: 70px;
}

.network:not(:last-child) {
  margin-right: 10px;
}

.logo {
  color: #2196f3;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-header {
  color: #212121;
}

.logo-footer {
  color: #ffffff;
}

.down {
  display: inline-block;
  margin-bottom: 20px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
  margin-top: 0;
  margin-bottom: 0;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link .current {
  color: #2196f3;
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
}

.link {
  position: relative;
  display: block;
  padding: auto;
  text-decoration: none;
  color: currentColor;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.current::after {
  opacity: 1;
}

.site-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.site-contact .item + .item {
  margin-left: 50px;
}

.site-contact .contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contact .contact-link:hover, .site-contact .contact-link:focus {
  color: #2196f3;
}

.mail-icon,
.tel-icon {
  margin-right: 10px;
  fill: currentColor;
}

.mail-icon:hover, .mail-icon:focus,
.tel-icon:hover,
.tel-icon:focus {
  color: #2196f3;
}

.hero {
  background: #2f303a;
  padding: 200px 0;
  text-align: center;
}

.hero-tittle {
  width: 696px;
  margin: 0 auto 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../image/Img-overlay.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/Img-overlay.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.feature-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-item {
  width: 270px;
}

.feature-list .feature-item + .feature-item {
  margin-left: 30px;
}

.feature-list .tittle {
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.item-decoration {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.svg-icon {
  width: 70px;
}

.section-tittle {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.make {
  padding-bottom: 94px;
}

.section-tittle {
  list-style: none;
  padding: 0;
  margin: 0;
}

.work {
  margin-bottom: 50px;
}

.list .make-item + .make-item {
  margin-left: 30px;
}

.item-image {
  position: relative;
}

.image-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-text > p {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list .tittle {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list .team-item + .team-item {
  margin-left: 30px;
}

.team {
  margin-bottom: 50px;
}

.team-item {
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.group {
  padding: 30px 32px;
  text-align: center;
  background-color: #ffffff;
}

.tittle {
  margin-bottom: 10px;
}

.text {
  margin-bottom: 16px;
}

.actions {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.actions > .view-svg:not(:last-child) {
  margin-right: 10px;
}

.icons-webs {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.actions-icon:hover,
.actions-icon:focus {
  outline: none;
  background: #2196f3;
  color: #ffffff;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-size: 36px;
  line-height: 1, 17;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients-list > li:not(:last-child) {
  margin-right: 30px;
}

.client-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  fill: currentColor;
}

.client-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  outline: none;
  border: 1px solid #2196f3;
  color: #2196f3;
}

.buttons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-style: none;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button:hover, .button:focus {
  outline: none;
}

.click {
  background: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  display: inline-block;
  border-style: none;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  outline: transparent;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.click:hover, .click:focus {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.snap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.snap .snap-item + .snap-item {
  margin-left: 8px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery-link {
  position: relative;
  overflow: hidden;
}

.gallery-hidden {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translatey(101%);
          transform: translatey(101%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-hidden > p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  text-align: left;
}

.picture:hover .gallery-hidden,
.picture:focus .gallery-hidden {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.collection {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 30px;
}

.collection:nth-child(3n) {
  margin-right: 0;
}

.collection:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.collection-tittle {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  text-align: start;
}

.picture {
  text-decoration: none;
  display: inline-block;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.picture:hover,
.picture:focus {
  outline: none;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.rage-header {
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.section-tittle .caption {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-tittle .rubric {
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
}

.modal-button:hover, .modal-button:focus {
  fill: #2196f3;
  outline: none;
}

.submit-button {
  display: block;
  margin: 0 auto;
  padding: 10px 55px 10px 56px;
  min-width: 200px;
  border-radius: 4px;
  border-style: none;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  outline: transparent;
}

.form-window {
  padding: 40px;
}

.form-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form-box {
  position: relative;
  list-style: none;
  cursor: pointer;
}

.form-line {
  display: block;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
}

.form-svg {
  position: absolute;
  left: 12px;
  top: 30px;
  fill: #212121;
}

.form-box .input:not(:last-child) {
  padding-left: 42px;
}

.label:focus-within > .form-svg {
  fill: #2196f3;
}

.input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  border: 1px solid #2196f3;
  outline: transparent;
}

.textarea {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.check-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.checkbox-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.label-span {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.checkbox-link {
  color: #2196f3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.check-input + .checkbox-label::before {
  content: ' ';
  display: inline-block;
  width: 16px;
  height: 15px;
  cursor: pointer;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 7px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked + .checkbox-label::before {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url(../image/svg/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.by-line {
  margin: 0;
  padding: 0;
}

.by-line-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.by-line-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.by-line-input {
  width: 358px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  margin-right: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.by-line-input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.by-line-input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.by-line-input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.by-line-input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.by-line-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 200px;
  height: 50px;
  padding: 10px 28px 10px 29px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  outline: transparent;
}

.by-line-button::after {
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(../image/svg/full-send.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */