.section-tittle {
  color: $tittle-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  & {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.make {
  padding-bottom: 94px;
}

.work {
  margin-bottom: 50px;
}

.list .make-item + .make-item {
  margin-left: 30px;
}

.item-image {
  position: relative;
}

.image-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;

  & > p {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-white-color;
  }
}
