.gallery {
  display: flex;
  flex-wrap: wrap;

  &-link {
    position: relative;
    overflow: hidden;
  }
}

.gallery-hidden {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: $portfolio-background-color;
  padding: 63px 24px;
  display: flex;
  transform: translatey(101%);
  transition: 250ms $timing-function;

  & > p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: $primary-white-color;
    text-align: left;
  }
}
