.address-list {
  list-style: none;
  padding: 0;
  margin: 0;

  & .link {
    width: 231px;
    color: $rgba-transparent-color;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 9px;
  }
}

.mail {
  margin-bottom: 9px;
}
