.hero {
  background: $background-dark-color;
  padding: 200px 0;
  text-align: center;

  &-tittle {
    width: 696px;
    margin: 0 auto 30px;
    color: $primary-white-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      $background-overlay-color,
      $background-overlay-color
    ),
    url('../image/Img-overlay.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
