.team-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.section-team {
  background: $background-white-color;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list .tittle {
  color: $tittle-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  & .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.team-list .team-item + .team-item {
  margin-left: 30px;
}

.team {
  margin-bottom: 50px;
}

.team-item {
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.group {
  padding: 30px 32px;
  text-align: center;
  background-color: $primary-white-color;
}

.tittle {
  margin-bottom: 10px;
}

.text {
  margin-bottom: 16px;
}

.actions {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.actions-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  color: $border-line-color;
  transition: 250ms $timing-function;

  &:hover,
  &:focus {
    outline: none;
    background: $akcent-color;
    color: $primary-white-color;
  }
}

.actions > .view-svg:not(:last-child) {
  margin-right: 10px;
}

.icons-webs {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
