.by-line-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $primary-white-color;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 50px;
  padding: 10px 28px 10px 29px;
  background: $akcent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  outline: transparent;

  &::after {
    display: inline-block;
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../image/svg/full-send.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 10px;
  }
}
