.clients {
  padding-top: 94px;
  padding-bottom: 94px;

  &-title {
    font-size: 36px;
    line-height: 1, 17;
    text-align: center;
    color: $tittle-text-color;
    margin-bottom: 50px;
  }
}

.clients-list {
  display: flex;
  justify-content: center;

  & > li:not(:last-child) {
    margin-right: 30px;
  }
}

.client-icon {
  display: flex;
  justify-content: center;
  text-align: center;
  fill: currentColor;
}

.client-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid $border-line-color;
  box-sizing: border-box;
  border-radius: 4px;
  color: $border-line-color;
  transition: 250ms $timing-function;

  &:hover,
  &:focus {
    outline: none;
    border: 1px solid $akcent-color;
    color: $akcent-color;
  }
}
