body {
  margin: 0;
  background-color: $primary-white-color;
  color: $primary-text-color;
  font-family: $main-fond-family;
}

p {
  color: $primary-text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

img {
  display: block;
}

p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}
