.site-contact {
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-left: 84px;
  }

  @media screen and (min-width: $desktop-width) {
    display: flex;
    flex-direction: inherit;
    margin-left: auto;
    margin-top: 0;
  }
}

@media screen and (min-width: $tablet-width) {
  .header {
    display: flex;
    align-items: center;
  }
}

.site-contact {
  margin-top: 0;
  margin-bottom: 0;
}

.site-contact .contact-link {
  @media screen and (min-width: $tablet-width) {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: $primary-text-color;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: 250ms $timing-function;
  }

  @media screen and (min-width: $desktop-width) {
    padding-top: 32px;
    padding-bottom: 32px;
    color: $primary-text-color;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    color: $akcent-color;
  }
}

.contact-mail,
.contact-tel {
  fill: currentColor;

  &:hover,
  &:focus {
    color: $akcent-color;
  }
}

.contact-mail {
  fill: currentColor;
  width: 16px;
  height: 12px;

  @media screen and (min-width: $tablet-width) {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}

.contact-tel {
  fill: currentColor;
  width: 10px;
  height: 16px;

  @media screen and (min-width: $tablet-width) {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}

.contact-link.mail {
  @media screen and (min-width: $tablet-width) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}
