.menu-button {
  display: inline-flex;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: auto;

  &:hover,
  &:focus {
    fill: $akcent-color;
    outline: none;
  }

  @media screen and (min-width: 767px) {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
