.menu-container {
  z-index: 2;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  overflow-y: scroll;

  background: $primary-white-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  // opacity: 0;
  transition: 250ms $timing-function;

  &.is-open {
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
    }
  }
}

.menu-nav {
  font-style: normal;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  margin-bottom: auto;
  color: $tittle-text-color;
}

.menu:not(:last-child) {
  margin-bottom: 32px;
}

.conteiner-nav {
  font-style: normal;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  margin-bottom: auto;
}

.contact-conteiner {
  display: contents;
}

.contact-link__mail {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-bottom: 32px;
}

.contact-link__tel {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  color: #757575;
  margin-bottom: 64px;
}

.contact-menu {
  display: flex;
}

.contact-item {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;

  &:not(:last-child) {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
